*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    width: 12rem;
    height: 2rem;
    margin: 15px;
    margin-bottom: 0;
    padding: 10px;
}

.control {
    width: 900px;
    margin: 20px auto;
    text-align: center;
}

.button {
    display: inline-block;
    width: 12rem;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    background-color: black;
    text-align: center;
    line-height: 3rem;
    border-radius: 30px;
    transition-duration: 0.2s;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    background-color:white;
    color: black;
    cursor: pointer;
}

#colorName {
    font-size: 3rem;
    margin-left: 20px;
    color:white;
}