* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    color: white;
    width: 100vw;
    height: 100vh;
    background: steelblue;
}

h1 {
    font-size: 2em;
}

.container {
    width: 65vw;
    height: 80vh;
    margin-top: 2em;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2em;
    border-radius: 20px;
    border: none;
    outline: none;
    color: black;
    background: white;
}

button {
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2em;
    border-radius: 20px;
    border: none;
    outline: none;
    color: black;
    background: white;
}

button:hover {
    transform: translate(0,-2px);
}

button:active {
    transform: translate(0,2px);
}

.current-index {
    color: navy;
    font-size: 1.5rem;
    font-weight: bold;
}

.checked-index {
    color: darkorange;
    font-size: 1.5em;
}

.rejected-index {
    color: lightgreen;
    font-size: 1.5rem;
}